@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none;
  color: #222222; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header__label-down-menu, .nav__mega-label {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #2f2f2f; }

.header__item-down-menu, .nav__mega-item {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4a4a4a; }

.header__line, .nav__line {
  width: 100%;
  border-bottom: 1px solid #e8e8e8; }

.nav__mega-menu--women, .nav__mega-menu--man, .nav__mega-menu--kids {
  visibility: hidden;
  position: absolute;
  width: 846px;
  height: 310px;
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  top: 29px; }

.header {
  position: relative;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
  .header__logo {
    margin-right: 40px;
    margin-bottom: 21px; }
  .header__form-search {
    height: 40px;
    border: 1px solid #e8e8e8;
    border-radius: 0px 3px 3px 0px; }
  .header__browse-input {
    display: none; }
    .header__browse-input:checked ~ .header__down-menu,
    .header__browse-input:active ~ .header__down-menu {
      display: block; }
  .header__browse-button {
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222222; }
    .header__browse-button i {
      padding-left: 5px; }
  .header__down-menu {
    width: 262px;
    height: 530px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 59px;
    left: 207px;
    padding: 15px;
    display: none;
    z-index: 1; }
    .header__down-menu:hover {
      display: block;
      z-index: 1; }
  .header__list-down-menu {
    margin-top: 10px; }
  .header__imput {
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    color: #222222;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em; }
  .header__search-button {
    height: 38px;
    width: 38px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #aaa; }
  .header__button-myAccount {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    border-radius: 3px;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff; }
    .header__button-myAccount:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #ac4e5a; }
    .header__button-myAccount i {
      padding-left: 5px; }
  .header__bascket-inp {
    display: none; }
    .header__bascket-inp:checked ~ .header__bascket-menu,
    .header__bascket-inp:active ~ .header__bascket-menu {
      visibility: visible; }
  .header__bascket {
    width: 32px;
    height: 29px;
    margin-right: 30px;
    margin-top: 6px; }
  .header__bascket-menu {
    visibility: hidden;
    position: absolute;
    min-width: 262px;
    min-height: 440px;
    background-color: #ffffff;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 88px; }
  .header__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__context {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__cart-img {
    width: 72px;
    height: 85px; }
  .header__cart-label {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  .header__star {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #e4af48; }
  .header__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f; }
    .header__price span {
      font-size: 10px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #f16d7f; }
  .header__cross {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #b2b2b2; }
  .header__total-price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    margin-left: 20px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    max-width: 225px; }
    .header__total-price span:first-child {
      margin-right: 110px; }
  .header__button-chek {
    margin-top: 30px;
    width: 225px;
    height: 50px;
    border: 1px solid #f16d7f;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    margin-left: 20px; }
    .header__button-chek:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #f16d7f;
      color: #ffffff; }
  .header__button-go {
    width: 225px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a; }
    .header__button-go:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #4a4a4a;
      color: #ffffff; }

.logo {
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222; }
  .logo span {
    font-weight: 900;
    color: #f16d7f; }
  .logo:before {
    content: url(../image/index/logo.png);
    width: 59px;
    height: 51px;
    margin-right: 10px; }

.header__label-down-menu, .nav__mega-label {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #2f2f2f; }

.header__item-down-menu, .nav__mega-item {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4a4a4a; }

.header__line, .nav__line {
  width: 100%;
  border-bottom: 1px solid #e8e8e8; }

.nav__mega-menu--women, .nav__mega-menu--man, .nav__mega-menu--kids {
  visibility: hidden;
  position: absolute;
  width: 846px;
  height: 310px;
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  top: 29px; }

.nav {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__item {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    border-bottom: 2px solid transparent; }
    .nav__item:not(:last-child) {
      margin-right: 50px; }
    .nav__item:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-bottom: 2px solid #222222; }
    .nav__item--active {
      font-size: 14px;
      line-height: 26px;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222;
      border-bottom: 2px solid #f16d7f;
      margin-right: 50px; }
      .nav__item--active:hover + div {
        visibility: visible;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s; }
    .nav__item:hover + div {
      visibility: visible;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s; }
  .nav__mega-menu--women {
    left: 148px; }
    .nav__mega-menu--women:hover {
      visibility: visible; }
  .nav__mega-menu--man {
    left: 65px; }
    .nav__mega-menu--man:hover {
      visibility: visible; }
  .nav__mega-menu--kids {
    left: 253px; }
    .nav__mega-menu--kids:hover {
      visibility: visible; }
  .nav__mega-list {
    margin-right: 50px; }
  .nav__mega-link:hover {
    border-bottom: 1px solid #222222; }
  .nav__mega-man {
    width: 255px;
    height: 118px; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none;
  color: #222222; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header__label-down-menu, .nav__mega-label {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #2f2f2f; }

.header__item-down-menu, .nav__mega-item {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4a4a4a; }

.header__line, .nav__line {
  width: 100%;
  border-bottom: 1px solid #e8e8e8; }

.nav__mega-menu--women, .nav__mega-menu--man, .nav__mega-menu--kids {
  visibility: hidden;
  position: absolute;
  width: 846px;
  height: 310px;
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  top: 29px; }

.second-menu {
  width: 100%;
  background-color: #f8f3f4;
  min-height: 150px; }
  .second-menu__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 150px; }
  .second-menu__left {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f; }
  .second-menu__items {
    display: inline-block; }
    .second-menu__items:not(:last-child)::after {
      content: "/"; }
  .second-menu__link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #636363; }
    .second-menu__link--active {
      font-weight: 700;
      color: #f16d7f;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 20px; }
    .second-menu__link:hover {
      color: #f16d7f;
      font-weight: 700; }

.subscribe {
  min-height: 438px;
  margin-top: 100px;
  background: url("../image/index/subscribe-bg.png") no-repeat, #aaa;
  background-size: cover;
  background-blend-mode: lighten; }
  .subscribe__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .subscribe__left {
    border-right: 2px solid #ffffff;
    min-height: 438px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
  .subscribe__image {
    padding-right: 25px;
    padding-bottom: 60px; }
  .subscribe__blockquote {
    width: 386px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222222; }
  .subscribe__name {
    padding-top: 22px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f; }
  .subscribe__rename {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222222; }
  .subscribe__right {
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .subscribe__label {
    font-size: 24px;
    line-height: 37px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222; }
  .subscribe__sublabel {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-bottom: 32px; }
  .subscribe__input {
    width: 334px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px 0px 0px 23px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222222; }
  .subscribe__button {
    margin-left: -2px;
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em; }
    .subscribe__button:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #ac4e5a; }
  .subscribe__line1 {
    position: absolute;
    top: 307px;
    left: 107px; }
  .subscribe__line2 {
    position: absolute;
    top: 307px;
    left: 156px; }
  .subscribe__line3 {
    position: absolute;
    top: 307px;
    left: 210; }

.information {
  margin-top: 100px; }
  .information__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .information__brand p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    margin-right: 66px;
    margin-top: 25px; }
  .information__item {
    margin: 30px;
    min-width: 157px; }
  .information__label {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-bottom: 20px; }
  .information__list-item a {
    color: #898989;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em; }
    .information__list-item a:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-bottom: 2px solid #898989; }

.footer {
  margin-top: 100px;
  background-color: #e8e8e8;
  height: 80px; }
  .footer__flex {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__left {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a; }
  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__icon {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer__icon i {
      font-size: 16px;
      line-height: 42px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #b2b2b2; }
    .footer__icon:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #f16d7f; }
      .footer__icon:hover i {
        color: #ffffff; }

.product-details {
  margin-top: 100px; }
  .product-details__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .product-details__left {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #222222; }
  .product-details__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 630px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #222222; }
  .product-details__item {
    margin-top: 20px; }
  .product-details__buttons {
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .product-details__button {
    width: 235px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a; }
    .product-details__button:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #f16d7f;
      color: #e8e8e8; }

.line {
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #e8e8e8; }

.product-details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .product-details-item__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .product-details-item__image {
    width: 100px;
    height: 115px;
    background-color: rgba(101, 169, 200, 0.09); }
  .product-details-item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px 0px 0px 20px; }
  .product-details-item__name {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    padding-bottom: 40px; }
  .product-details-item__color {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #555555; }
    .product-details-item__color span {
      font-weight: 300;
      color: #6f6e6e; }
  .product-details-item__size {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #555555; }
    .product-details-item__size span {
      font-weight: 300;
      color: #6f6e6e; }
  .product-details-item__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 630px; }
  .product-details-item__price {
    padding-left: 21px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #6f6e6e; }
  .product-details-item__quantity {
    padding-left: 15px;
    width: 54px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    text-align: center; }
  .product-details-item__shipping {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #6f6e6e; }
  .product-details-item__subtotal {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #6f6e6e;
    padding-right: 13px; }
  .product-details-item i {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #b2b2b2;
    padding-right: 15px; }

.shipping-form {
  min-height: 270px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .shipping-form__shipping-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .shipping-form__label {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  .shipping-form__country {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #b2b2b2;
    padding-left: 14px;
    width: 355px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8; }
    .shipping-form__country option {
      color: #222222; }
  .shipping-form__state {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    padding-left: 14px;
    width: 355px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8; }
  .shipping-form__zip {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    padding-left: 14px;
    width: 355px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8; }
  .shipping-form__button {
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a; }
    .shipping-form__button:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #f16d7f;
      color: #ffffff; }
  .shipping-form__coupon-discount {
    max-height: 186px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .shipping-form__sublabel {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #222222; }
  .shipping-form__total {
    width: 360px;
    height: 214px;
    background-color: #f8f3f4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 40px; }
  .shipping-form__main-total {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
    .shipping-form__main-total span {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #f16d7f;
      padding-left: 20px; }
  .shipping-form__sub-total {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a4a4a; }
    .shipping-form__sub-total span {
      padding-left: 20px; }
  .shipping-form__total-button {
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff; }
    .shipping-form__total-button:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background-color: #ac4e5a; }
  .shipping-form__line {
    width: 275px;
    height: 1px;
    background-color: #e8e8e8; }
