.nav {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
        display: flex;
    }
    &__item {
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: $secondColor;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}
