@import "_variables.scss";
.nav {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
        position: relative;
        display: flex;
    }
    &__item {
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: $secondColor;
        border-bottom: 2px solid transparent;
        &:not(:last-child) {
            margin-right: 50px;
        }
        &:hover {
            transition-duration: 0.3s;
            border-bottom: 2px solid $secondColor;
        }
        &--active {
            font-size: 14px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: $secondColor;
            border-bottom: 2px solid $mainColor;
            margin-right: 50px;
            &:hover + div {
                visibility: visible;
                transition-duration: 0.5s;
            }
        }
        &:hover + div {
            visibility: visible;
            transition-duration: 0.5s;
        }
    }
    &__mega-menu {
        &--women {
            @extend %megaMenu;
            &:hover {
                visibility: visible;
            }

            left: 148px;
        }
        &--man {
            @extend %megaMenu;
            &:hover {
                visibility: visible;
            }
            left: 65px;
        }
        &--kids {
            @extend %megaMenu;
            &:hover {
                visibility: visible;
            }
            left: 253px;
        }
    }

    &__mega-list {
        margin-right: 50px;
    }

    &__mega-label {
        @extend %downMenuLabel;
    }

    &__line {
        @extend %line;
    }

    &__mega-item {
        @extend %downMenuItem;
    }

    &__mega-link {
        &:hover {
            border-bottom: 1px solid $secondColor;
        }
    }

    &__mega-man {
        width: 255px;
        height: 118px;
    }
}
