.nav {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
        display: flex;
    }
    &__item {
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: $secondColor;
        border-bottom: 2px solid transparent;
        &:not(:last-child) {
            margin-right: 50px;
        }
        &:hover {
            transition-duration: 0.3s;
            border-bottom: 2px solid black;
        }
        &--active {
            font-size: 14px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: $secondColor;
            border-bottom: 2px solid $mainColor;
            margin-right: 50px;
        }
    }
}
