$mainColor: #f16d7f;
$secondColor: #222222;
$whiteColor: #ffffff;
$sliderBackground: #e8e8e8;
$colorSubtitle: #9f9f9f;
$colorHiddenDiv: rgba(58, 56, 56, 0.83);
$colorHoverButton: darken(
    $color: #ac4e5a,
    $amount: 0,
);
$colorShadow: #aaa;
$bgcSecondMenu: #f8f3f4;
$colorLinksSecondMenu: #636363;
$bgcInputFooter: #e1e1e1;
$colorInformationFooter: #898989;
$bgcFooter: #7a7a7a;
$colorOfI: #b2b2b2;
$browseButtonColor: #cdcdcc;
$radioBorder: #555555;
$buttonCheckout: #4a4a4a;
$redColor: #ff0d0d;
$colorGrey: #6f6e6e;
$sliderSinglePage: #f7f7f7;
$borderSlider: #eaeaea;
$arrColor: #d8d8d8;
$arrHover: darkgray;
$darkGrey: #2f2f2f;
$container-width: 1140px;
