//----переменные-------------------------------------------------------------------------------------------------------------------
$mainColor: #f16d7f;
$secondColor: #222222;
$container-width: 1140px;
