//----обнуление-----------------------------------------------------------------------------------------------------------
@import "_null.scss";
//----переменные-------------------------------------------------------------------------------------------------------------
@import "_variables.scss";
//----шрифты--------------------------------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
//----шапка---------------------------------------------------------------------------------------------------------------
@import "_header.scss";
//----навигация----------------------------------------------------------------------------------------------------------
@import "_nav.scss";
//----второе меню--------------------------------------------------------
@import "_second-menu.scss";
//----подвал----------------------------------------------------------------------------------------------------------------
@import "_footer.scss";
//---------------------------------------------------------------------------------------------------------------------------

.slider {
    height: 777px;
    background-color: $sliderSinglePage;
    border: 1px solid $borderSlider;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__arr {
        width: 47px;
        height: 47px;
        background-color: $arrColor;

        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            transition-duration: 0.3s;
            background-color: $arrHover;
        }
        & i {
            font-size: 24px;
            line-height: 24px;
            //font-weight: 400;
            color: $sliderSinglePage;
        }
    }
}

.women-collection {
    position: relative;
    overflow: visible;
    background-color: $whiteColor;
    border: 1px solid $borderSlider;
    margin-top: -80px;
    min-height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 70px 120px;
    &__line {
        margin-top: -20px;
        margin-bottom: -20px;
    }
    &__sublabel {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $mainColor;
    }

    &__label {
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: $buttonCheckout;
    }

    &__content {
        max-width: 618px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: $buttonCheckout;
    }

    &__list {
        display: flex;

        & :not(:last-child) {
            margin-right: 45px;
        }
    }

    &__item {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $colorOfI;
        & span {
            color: $darkGrey;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
        }
    }
    &__price {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: $mainColor;
    }
    &__name-of-form {
        display: flex;
        min-width: 470px;
        justify-content: space-between;
    }
    &__form {
        min-width: 538px;
        display: flex;
        justify-content: space-between;
        padding-left: 33px;
        &:nth-child(2) {
            margin-left: 30px;
        }
        &:last-child {
            margin-left: 30px;
        }
    }

    &__choose-label {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $darkGrey;
    }

    &__select {
        width: 144px;
        height: 35px;
        background-color: $whiteColor;
        border: 1px solid $borderSlider;
        padding-left: 10px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: $colorOfI;
        & option {
            color: $secondColor;
        }
    }

    &__button {
        width: 537px;
        height: 55px;
        background-color: $whiteColor;
        border: 1px solid $mainColor;

        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        color: $mainColor;
        & img {
            padding-right: 10px;
        }
        &:hover {
            transition-duration: 0.3s;
            background-color: $mainColor;
            color: $whiteColor;
            img {
                color: $whiteColor;
            }
        }
    }
}
.line {
    width: 642px;
    height: 1px;
    background-color: $mainColor;
    border: 1px solid $borderSlider;
}

.you-make-also {
    margin-top: 100px;

    &__label {
        margin-bottom: 70px;
        display: flex;
        justify-content: center;

        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $buttonCheckout;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
    }
    &__fetured-item {
        width: 261px;
        height: 280px;
        & img {
            height: 280px;
        }
    }
}

.fetured-item {
    position: relative;
    &:hover {
        transition-duration: 0.3s;
        box-shadow: 5px 5px 5px 5px $colorShadow;
        .fetured-item__hidden {
            display: flex;
        }
    }
    &__cart {
        background-color: $colorHiddenDiv;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 123px;
        height: 39px;
        border: 1px solid $whiteColor;
        & img {
            width: 23px;
            height: 22px;
        }
        & p {
            font-size: 13px;
            line-height: 1.2;
            font-weight: 700;
            color: $whiteColor;
            display: inline-block;
            text-align: center;
        }
        &:hover {
            p {
                color: $mainColor;
            }
            border: 1px solid $mainColor;
        }
    }
    &__hidden {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        width: 263px;
        height: 281px;
        background-color: $colorHiddenDiv;
    }
    &__title {
        padding-left: 15px;
        font-size: 13px;
        line-height: 3;
        font-weight: 700;
        text-transform: uppercase;
        color: $secondColor;
    }
    &__subtitle {
        padding-left: 15px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 700;
        text-transform: uppercase;
        color: $mainColor;
    }
}
