//----обнуление-----------------------------------------------------------------------------------------------------------
@import "_null.scss";
//----переменные-------------------------------------------------------------------------------------------------------------
@import "_variables.scss";
//----шрифты--------------------------------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
//----шапка---------------------------------------------------------------------------------------------------------------
@import "_header.scss";
//----навигация----------------------------------------------------------------------------------------------------------
@import "_nav.scss";
//----второе меню--------------------------------------------------------
@import "_second-menu.scss";
//----подвал----------------------------------------------------------------------------------------------------------------
@import "_footer.scss";
//---------------------------------------------------------------------------------------------------------------------------

.product-details {
    margin-top: 100px;
    &__menu {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        color: $secondColor;
    }
    &__right {
        display: flex;
        justify-content: space-between;
        min-width: 630px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        color: $secondColor;
    }
    &__item {
        margin-top: 20px;
    }
    &__buttons {
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
    }
    &__button {
        width: 235px;
        height: 50px;
        background-color: $whiteColor;
        border: 1px solid $sliderBackground;

        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $buttonCheckout;
        &:hover {
            transition-duration: 0.3s;
            background-color: $mainColor;
            color: $sliderBackground;
        }
    }
}
.line {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid $sliderBackground;
}
.product-details-item {
    display: flex;
    justify-content: space-between;
    &__left {
        display: flex;
    }
    &__image {
        width: 100px;
        height: 115px;
        background-color: rgba(101, 169, 200, 0.09);
    }
    &__content {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 20px;
    }
    &__name {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $secondColor;
        padding-bottom: 40px;
    }
    &__color {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $radioBorder;
        & span {
            font-weight: 300;
            color: $colorGrey;
        }
    }
    &__size {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $radioBorder;
        & span {
            font-weight: 300;
            color: $colorGrey;
        }
    }
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 630px;
    }
    &__price {
        padding-left: 21px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $colorGrey;
    }
    &__quantity {
        padding-left: 15px;
        width: 54px;
        height: 30px;
        background-color: $whiteColor;
        border: 1px solid $sliderBackground;
        text-align: center;
    }
    &__shipping {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $colorGrey;
    }
    &__subtotal {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $colorGrey;
        padding-right: 13px;
    }
    & i {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: $colorOfI;
        padding-right: 15px;
    }
}
.shipping-form {
    min-height: 270px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    &__shipping-adress {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__label {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $secondColor;
    }
    &__country {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 300;
        color: $colorOfI;
        padding-left: 14px;

        width: 355px;
        height: 45px;
        background-color: $whiteColor;
        border: 1px solid $sliderBackground;
        & option {
            color: $secondColor;
        }
    }
    &__state {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 300;

        padding-left: 14px;
        width: 355px;
        height: 45px;
        background-color: $whiteColor;
        border: 1px solid $sliderBackground;
    }
    &__zip {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 300;

        padding-left: 14px;
        width: 355px;
        height: 45px;
        background-color: $whiteColor;
        border: 1px solid $sliderBackground;
    }
    &__button {
        width: 100px;
        height: 35px;
        background-color: $whiteColor;
        border: 1px solid $sliderBackground;

        font-size: 11px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $buttonCheckout;
        &:hover {
            transition-duration: 0.3s;
            background-color: $mainColor;
            color: $whiteColor;
        }
    }
    &__coupon-discount {
        max-height: 186px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__sublabel {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: $secondColor;
    }
    &__total {
        width: 360px;
        height: 214px;
        background-color: $bgcSecondMenu;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: 40px;
    }
    &__main-total {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $secondColor;
        & span {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: $mainColor;
            padding-left: 20px;
        }
    }
    &__sub-total {
        font-size: 11px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: $buttonCheckout;
        & span {
            padding-left: 20px;
        }
    }
    &__total-button {
        width: 273px;
        height: 50px;
        background-color: $mainColor;

        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $whiteColor;
        &:hover {
            transition-duration: 0.3s;
            background-color: $colorHoverButton;
        }
    }
    &__line {
        width: 275px;
        height: 1px;
        background-color: $sliderBackground;
    }
}
