$mainColor: #f16d7f;
$secondColor: #222222;
$whiteColor: #ffffff;
$sliderBackground: #e8e8e8;
$colorSubtitle: #9f9f9f;
$colorHiddenDiv: rgba(58, 56, 56, 0.83);
$colorHoverButton: darken(
    $color: #ac4e5a,
    $amount: 0,
);
$colorShadow: #aaa;
$bgcSecondMenu: #f8f3f4;
$colorLinksSecondMenu: #636363;
$bgcInputFooter: #e1e1e1;
$colorInformationFooter: #898989;
$bgcFooter: #7a7a7a;
$colorOfI: #b2b2b2;
$browseButtonColor: #cdcdcc;
$radioBorder: #555555;
$buttonCheckout: #4a4a4a;
$redColor: #ff0d0d;
$colorGrey: #6f6e6e;
$sliderSinglePage: #f7f7f7;
$borderSlider: #eaeaea;
$arrColor: #d8d8d8;
$arrHover: darkgray;
$darkGrey: #2f2f2f;
$container-width: 1140px;
%downMenuLabel {
    font-size: 14px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $darkGrey;
}
%downMenuItem {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: $buttonCheckout;
}
%line {
    width: 100%;
    border-bottom: 1px solid $sliderBackground;
}
%megaMenu {
    visibility: hidden;
    position: absolute;
    width: 846px;
    height: 310px;
    background-color: $whiteColor;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    top: 19px;
}
